<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Ws_2017PortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Proyecto_2017/Ws_2017"
        binding="basicHttpBinding" bindingConfiguration="Ws_2017PortBinding"
        contract="Wserver.Ws_2017" name="Ws_2017Port" />
    </client>
  </system.serviceModel>
  <appSettings/>
</configuration>